#rooms-container {
    width: 100%;
    min-height: 100px;
    padding: 30px;
    flex-wrap: wrap;
  }
  
  #rooms-container .room-item {
    border: 2px solid #000;
    height: 50px;
    padding: 10px 20px;
    background-color: var(--secondary-button-background);
    color: var(--secondary-font-color);
    cursor: pointer;
    margin: 0 10px;
  }
  